<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQl

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

<table align="left">
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>Visual Studio Code</td></tr>
    <tr><td>R Studio</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<h2>Author</h2>
Harikrishnan Ranganathan